@import '../colorscheme.scss';

main {   
    > .container {
    display: flex;
    flex-direction: column;

        > h1 {
            margin-bottom:2rem;
        }

        .products-wrapper {
            display:grid;

            @media (min-width: 1120px){
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 2rem;
            }

            
            @media (max-width: 1120px) and (min-width: 600px){
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
            }
            
            @media (max-width: 600px){
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }

            a {
                text-decoration: none;
            }
        }
    }
}


