@import '../colorscheme.scss';

.login-page {  
    label, input {
        max-width: 500px;
    }

    label {
        margin-bottom:0.4rem;
    }

    input {
        margin-bottom:1rem;
    }

    .login-btn {
        margin-right:auto;
        margin-bottom:1rem;
    }

    p {
        a {
            text-decoration: underline;
            color:currentColor;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
