@import '../colorscheme.scss';

.product-page {

    .product__img {
        max-width:30%;
        margin:0 1rem 1rem 0;
        float:left;
    }

    .product__price {
        font-size:2rem;
        font-weight: 700;
    }

    .product-page-themeAndCategory{
        font-size: 1rem;
        color: $c-light;
        background-color: $c_dark;
        padding: 5px;
        margin-right: 0.5rem;

    }
    .product-page-themeAndCategory-container{
        margin: 1rem;
    }
}