@import '../colorscheme.scss';
/*__________________css for register page________________*/
.register-page{
  label {
    margin-bottom:0.4rem;
  }
  
  input {
    margin-bottom:1rem;
  }

  .error {
    color: #ee3e23;
    display: block;
    font-size: small;
  }

  .confirm {
    color: green;
    display: block;
    font-size: small;
  }

  .input-with-alert{
    margin-bottom: 0.5rem;
  }

  .display-alert{
    margin-bottom: 0.5rem;
  }

  .register__wrapper{
    display: flex;
    gap: 2rem;

    > div {
      width: calc(50% - 1rem);
    }
  }

  .register__wrapper-right 
  {
    display:flex;
    justify-content: space-between;
    width:100%;
  }

  .register__element--small{
    width: 30%;
    display:flex;
    flex-direction: column;

    input {
      width: 100%;
    }
  }
}
