@import '../colorscheme.scss';

header {
    background-color: $c-dark;
    color: $c-light;
    padding: 1rem 0;
    width: 100vw;

    svg {
        max-width: 200px;

        .cls-1 {
            fill: $c-light;
        }

        .cls-2 {
            fill: $c-secondary;
        }

        .cls-3 {
            fill: $c-dark;
        }
    }

    nav {
        margin-left:auto;
        display: flex;
        align-items: center;

        ul {
            list-style-type: none;
            display: flex;

            li:not(:last-child){
                margin-right:2rem;
            }
            
            a {
                color: $c-light;
                text-decoration: none;
                font-size: 1.2rem;
                cursor:pointer;
                
                &:hover {
                    color: darken($c-light, 10%);
                }
            }
        }
    }

    .link-userpage {
        margin-left: 2rem;
        background-color: $c-secondary;
        color: $c-dark;
        padding: 0.5rem 1rem;
        margin-top:auto;
        margin-bottom: auto;
        text-decoration: none;

        &:hover {
            background-color: darken($c-secondary, 5%);
        }

        .navbar__user-info {
            display:flex;
            align-items: center;
                
            svg {
                margin-right: 0.5rem;
            }

            p {
                font-weight: 700;
                padding-top:0.2rem;
            }
        }
    }
}
