@import '../colorscheme.scss';

.product {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:$c-dark;
    color:$c-light;
    text-align:center;
    box-shadow: 3px 3px $c-light, 10px 10px $c-secondary;

    &--hoverable {    
        transition: transform 0.5s ease-in-out;
        cursor:pointer;
        
        &:hover {
            transform: scale(1.05);
        }
    }

    &--rud {
        position: relative;

        .product {
            &__rud-column {
                position: absolute;
                top:0;
                left:0;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-bottom:1rem;
                background-color: $c-secondary;
                border-right: 1px solid $c-dark;
                border-bottom: 1px solid $c-dark;

                > *:not(:last-child){
                    border-bottom: 1px dashed $c-dark;
                }

                .product__edit-btn, .product__delete-btn {
                    color: $c-dark;
                    display: flex;
                    padding:0.6rem;
                    
                    svg {
                        font-size:2rem;
                        margin:auto;
                    }
                }
            }
        }
    }

    &__img {
        margin-bottom:1rem;
        max-width:100%;
    }

    &__name, &__description, &__price {
        margin-left:1rem;
        margin-right:1rem;
    }

    &__name {
        margin-bottom: 0.4rem;
    }

    &__description {
        margin-bottom:1rem;
    }

    &__price {
        background-color: $c-light;
        color: $c-dark;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        margin-bottom:1rem;
    }
}