@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'colorscheme.scss';

@font-face {
  font-family: "GBay";
  src: url("./assets/fonts/FontsFree-Net-uni05_63.ttf");
}

h1 {
  font-family: "GBay";
  font-size: 6rem;
  line-height: normal;
  color: $c-dark;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

fieldset {
  border:0;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

button {
    cursor: pointer;
    border:0;
}

button, input {
    padding: 0.5rem 0.8rem;
}

button {
  background-color: $c-secondary;
  color:#fff;
  position:relative;

  &:hover {
    filter: contrast(80%);
  }

  &::before {
    position: absolute;
    left:-6px;
    top:0;
    content:"";
    background-image: url("./assets/images/gbay-button-left-edge.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  &::after {
    position: absolute;
    right:-6px;
    top:0;
    content:"";
    background-image: url("./assets/images/gbay-button-right-edge.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 6px;
  }
}

.link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    background-color: $c-light;
    overflow-x: hidden;
}

.container {
    display:flex;
    width:100%;
    position: relative;
    margin-left:auto;
    margin-right:auto;

    @media (min-width:1180px){
        max-width: calc(1080px - 4rem);
    }

    @media (max-width:1180px){
        max-width: calc(100vw - 40px);
    }
}

main {
  flex:1;
  padding: 2rem 0;
}
