@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'colorscheme.scss';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

fieldset {
  border:0;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

button {
    cursor: pointer;
    border:0;
}

button, input {
    padding: 0.5rem 0.8rem;
}

button {
  background-color: $c-secondary;
  color:#fff;
  margin: 0 auto;

  &:hover {
    background-color: darken($c-secondary, 10%);
  }
}

.link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    background-color: $c-light;
}

.container {
    display:flex;
    width:100%;
    position: relative;
    margin:auto;

    @media (min-width:900px){
        max-width: calc(1080px - 4rem);
    }

    @media (max-width:900px){
        max-width: calc(100vw - 40px);
    }
}

main {
  flex:1;
  padding: 2rem 0;

  h1 {
    color: $c-dark;
  }
}
