@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'colorscheme.scss';

@font-face {
  font-family: "GBay";
  src: url("./assets/fonts/FontsFree-Net-uni05_63.ttf");
}

h1 {
  font-family: "GBay";
  font-size: 3rem;
  line-height: normal;
  color: $c-dark;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

fieldset {
  border:0;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

button {
    cursor: pointer;
    border:0;
}

button, input:not([type="file"]), textarea, select {
    padding: 0.5rem 0.8rem;
}

button {
  background-color: $c-secondary;
  font-size: 1.4rem;
  color:$c-dark;
  position:relative;
  text-transform: uppercase;
  font-weight: 800;

  &:not(.btn--no-border){
    margin-left:10px;
  }

  &.btn--cta {
    box-shadow: 10px 0px 0px -5px $c-secondary,
                20px 0px 0px -10px $c-secondary,
                -10px 0px 0px -5px $c-secondary,
                -20px 0px 0px -10px $c-secondary;

      &:not(.btn--hover-disabled):hover {
        background-color: darken($c-secondary, 10%);
        box-shadow: 10px 0px 0px -5px darken($c-secondary, 10%),
                    20px 0px 0px -10px darken($c-secondary, 10%),
                    -10px 0px 0px -5px darken($c-secondary, 10%),
                    -20px 0px 0px -10px darken($c-secondary, 10%);
      }
    }

    &.btn--light {
    background-color: $c-light;
    box-shadow: 10px 0px 0px -5px $c-light,
                20px 0px 0px -10px $c-light,
                -10px 0px 0px -5px $c-light,
                -20px 0px 0px -10px $c-light;
    &:not(.btn--hover-disabled):hover {
      background-color: darken($c-light, 10%);
      box-shadow: 10px 0px 0px -5px darken($c-light, 10%),
                  20px 0px 0px -10px darken($c-light, 10%),
                  -10px 0px 0px -5px darken($c-light, 10%),
                  -20px 0px 0px -10px darken($c-light, 10%);
    }
  }

  &.btn--no-border {
    background-color: $c-secondary;
    &:hover {
      background-color: darken($c-secondary, 10%);
    }
  }

    span {
      font-family: "GBay";
      margin-top: -2rem;
    }
}

.link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    background-color: $c-light;
    overflow-x: hidden;
}

.container {
    display:flex;
    width:100%;
    position: relative;
    margin-left:auto;
    margin-right:auto;

    @media (min-width:1180px){
        max-width: calc(1080px - 4rem);
    }

    @media (max-width: 600px){
        max-width: calc(100vw - 40px);
    }
}

main {
  flex:1;
  padding: 2rem 0;
}

.btn-border {
  fill:red !important;
}

.test {
  box-shadow: 0px 20px 0px -10px #888888, 0px 40px 0px -20px #888;
}